.route__subtitle {
  width: 100%;
  max-width: 320px;
  margin: 0 auto 32px auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .route__subtitle {
      max-width: 320px;
  }
}

@media only screen and (max-width: 768px) {
  .route__subtitle {
      max-width: 320px;
  }
}

@media only screen and (max-width: 321px) {
  .route__subtitle {
      max-width: 288px;
      font-size: 14px;
      margin-top: 16px;
      line-height: 16px;
  }
}
