.header__lang-link {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
    color: white;
}

.header__lang-link:hover {
    opacity: 0.2;
}

@media only screen and (max-width: 320px) {
    .header__lang-link {
        /*width: 21px;
        min-height: 20px;
        left: 283px;
        top: 30px;*/
        line-height: 20px;
        font-size: 18px;
    }
}
