.route__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        margin-top:283px;
        margin-bottom: 32px;
}


@media only screen and (max-width: 1024px){
    .route__title {
        max-width: 656px;
        min-height: 76px;
        margin: 0 184px 32px 184px;
    }
}

@media only screen and (max-width: 768px){
    .route__title {
        max-width: 656px;
        min-height: 76px;
        margin: 153px 56px 32px 56px;
    }
}


@media only screen and (max-width: 320px){
    .route__title {
        width: 288px;
        min-height: 35px;
        margin-top: 51px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 0;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
    }
}