@import url(./__item/photo-grid__item.css);

.photo-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 92px;
  padding-bottom: 92px;
  grid-gap: 16px;
  margin-left: 0;
  margin-right: 0;






    /*
    display: grid;
    padding-top: 92px;
    margin-bottom: 92px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    /*margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width:100%;*/
    /*margin: 0 48px 92px 48px;
    padding-left: 0;
    padding-right: 0;*/
}
