.place__image {
    flex: 0 0 calc(50% - 8px);
    margin: 0;
    width: 100%;
    max-width: 460px;
    min-height: 460px;
}

.place__image:last-child {
    margin-bottom: 92px;
}

.place__image:hover {
    opacity: 0.2;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 100%;
        max-width: 440px;
        min-height: 440px;
        margin:0;
    }

    .place__image:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 100%;
        max-width: 340px;
        min-height: 340px;
        margin:0;
    }

    .place__image:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
        max-width: 320px;
        min-height: 320px;
        margin:0;
    }

    .place__image:last-child {
        margin-bottom: 0;
    }
}
