@import url(./__description/place__description.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);

.place {
    display: grid;
    /*grid-template-columns: 50% 1fr;*/
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 100%;
    margin: 0 148px 0px 148px;

}

@media only screen and (max-width: 768px){

  .place{
    grid-template-columns: 1fr;
    margin: 0 24px 0px 24px;
    max-width: 100%;
 }
}

@media only screen and (max-width: 320px){

  .place{
    grid-template-columns: 1fr;
 }
}
