.intro__list {
    width: 690px;
    left: 148px;
    top: 1730px;
    margin: 0;
    padding-left: 0;
    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    list-style: none;
    color: white;
}