.intro__list {
    /*width: 690px;*/
    left: 148px;
    top: 1730px;
    margin: 0;
    padding-left: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    list-style: none;
    color: white;
}

@media only screen and (max-width: 1024px){

    .intro__list {
    margin-left: 48px;
    margin-right: 286px;
    
    }

}

@media only screen and (max-width: 768px){

    .intro__list {
    margin-left: 24px;
    margin-right: 24px;
    
    }

}

@media only screen and (max-width: 320px){

    .intro__list {
    margin-left: 16px;
    margin-right: 16px;
    width: 288px;
    height: 72px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 34px;
    margin-bottom: 64px;
    
    }

}