@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
    margin: 0 auto;
    width: 100%;
    max-width: 984px;
}

@media only screen and (max-width: 1024px) {
    .lead {
        margin: 0 auto;
        width: 100%;
        max-width: 928px;
    }

}

@media only screen and (max-width: 768px) {
    .lead {
        margin: 0 auto;
        width: 100%;
        max-width: 768px;
    }
}

@media only screen and (max-width: 320px) {
    .lead {
        margin: 0 auto;
        width: 100%;
        max-width: 320px;
    }
}