.place__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 0;
    color: #ffffff;
}

.place__link:hover {
    opacity: 0.2;
}

@media only screen and (max-width: 320px) {
    .place__link {
        max-width: 288px;
        max-height: 12px;
        margin-left: 16px;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
    }
}
