@import url(./__lang-link/header__lang-link.css);
@import url(./__languages/header__languages.css);
@import url(./__languages-link/header__languages-link.css);

.header {
    display: flex;
    width:100%;
    max-width:984px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", Arial, sans-serif;
}

@media only screen and (max-width: 1024px) {
    .header {
        width:100%;
        max-width: 928px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width:100%;
        max-width: 720px;
    }
}

@media only screen and (max-width: 320px) {
    .header {
        width:100%;
        max-width: 288px;
        height: 36px;
    }
}