@import url(./__lang-link/header__lang-link.css);
@import url(./__languages/header__languages.css);
@import url(./__languages__link/header__languages__link.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


