.intro__text__two {
    width: 690px;
    margin: 0;
    padding: 0;
    min-height: 208px;
    left: 148px;
    right: 442px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #ffffff;
}

@media only screen and (max-width: 1024px) {
    .intro__text__two {
        width: 690px;
        min-height: 208px;
        margin-left: 48px;
        margin-right: 286px;
        top: 1438px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #ffffff;
    }
}

@media only screen and (max-width: 768px) {
    .intro__text__two {
        width: 720px;
        min-height: 182px;
        margin-left: 24px;
        margin-right: 24px;
        top: 1334px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #ffffff;
    }
}

@media only screen and (max-width: 320px) {
    .intro__text__two {
        width: 288px;
        min-height: 468px;
        margin-left: 16px;
        margin-right: 16px;
        top: 843px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #ffffff;
    }
}
