.place__title {
    flex: 1 1 100%;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* identical to box height, or 106% */
    color: #ffffff;
}
