.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 18px 0 0;
    padding-top: 0;
    padding-bottom: 24px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.footer__link:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 321px) {
    .footer__link {
        padding-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__link:nth-last-child(2) {
        padding-bottom: 0;
    }
}
