.intro__text__one {
    margin: 0;
    left: 148px;
    right: 442px;
    min-height: 68px;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    /* or 142% */
    color: white;
}

@media only screen and (max-width: 1024px) {
    .intro__text__one {
        margin-left: 48px;
        margin-right: 286px;
        margin-bottom: 32px;
        width: 690px;
        min-height: 68px;
        left: 48px;
        top: 1338px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #ffffff;
    }
}

@media only screen and (max-width: 768px) {
    .intro__text__one {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 32px;
        width: 720px;
        min-height: 68px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #ffffff;
    }
}

@media only screen and (max-width: 320px) {
    .intro__text__one {
        margin-top: 0;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
        width: 288px;
        min-height: 90px;
        padding: 0;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
    }
}
