.lead__title {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 1024px) {
    .lead__title {
        padding-top: 50px;
        padding-bottom: 32px;
        
    }
}

@media only screen and (max-width: 768px) {
    .lead__title {
        padding-top: 50px;
        padding-bottom: 32px;
        
    }
}

@media only screen and (max-width: 430px) {
    .lead__title {
        width: 100%;
        max-width: 288px;
        padding-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
    }
}
