.logo {
    display: flex;
    width: 190px;
    min-height: 44px;
    margin-top: 34px;
}

@media only screen and (max-width: 320px) {
    .logo {
        width: 156px;
        min-height: 36px;
    }
}
