.logo {
    display: flex;
    width: 100%;
    max-width: 190px;
    min-height: 44px;
    margin-top: 34px;
}

@media only screen and (max-width: 321px) {
    .logo {
        max-width: 156px;
        min-height: 36px;
    }
}

