.place__website__url-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.place__website__url-heading:hover {
    opacity: 0.2;
}

@media only screen and (max-width:320px){
    .place__website__url-heading{
        max-width: 288px;
        max-height: 12px;
        margin-left: 16px;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */
        letter-spacing: 0.2em;
    }
}