.place__link {
    width: 464px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    padding-bottom: 0;
    color: #ffffff;
}

.place__link:hover {
    opacity: 0.2;
}
