.intro__text {
    width: 690px;
    margin: 0;
    left: 148px;
    padding-bottom: 32px;
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    /* or 142% */
    color: white;
}
