.intro__text {
    /*width: 690px;*/
    margin: 0;
    left: 148px;
    padding-bottom: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    /* or 142% */
    color: white;
}


@media only screen and (max-width: 1024px){
    .intro__text {
        margin-left: 48px;
        margin-right: 286px;
        width: 690px;
    }
}

@media only screen and (max-width: 768px){
    .intro__text {
        margin-left: 24px;
        margin-right: 24px;
        width: 720px;
    }
}

@media only screen and (max-width: 320px){
        .intro__text {
            margin-left: 16px;
            margin-right: 16px;
            width: 288px;
            padding-bottom: 0;
        }
}