@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
    width: 690px;
    left: 148px;
    top: 1233px;
    color: white;
}
