.lead__subtitle {
    width: 100%;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #ffffff;
    margin:0 auto;
}

@media only screen and (max-width: 1024px) {
    .lead__subtitle {
        top: 360px;
        padding-bottom: 56px;
        margin:0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .lead__subtitle {
        top: 360px;
    }
}

@media only screen and (max-width: 320px) {
    .lead__subtitle {
        width: 100%;
        max-width: 288px;
        top: 210px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}

