.place__link {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 0;
    color: #ffffff;
    margin: 0;
}

.place__link:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    .place__url-heading {
        max-width: 352px;
    }
}

@media only screen and (max-width: 321px) {
    .place__link {
        max-width: 288px;
        margin-left: 16px;
        text-decoration-line: underline;
    }
}
