.lead__caption {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .lead__caption {
        margin: 0 0 0 24px;
    }
}

@media only screen and (max-width: 321px) {
    .lead__caption {
        margin: 0 0 0 16px;
    }
}

