.lead__caption {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
}

@media only screen and (max-width: 1024px) {
    .lead__caption {
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    .lead__caption {
        margin-right: 0;
        margin-left: 24px;
    }
}

@media only screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
        font-size: 10px;
    }
}

