.lead__caption {
    width: auto;
    height: 14px;
    left: 148px;
    top: 1127px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
}

@media only screen and (max-width: 1024px){
    .lead__caption {
        width: auto;
        height: 14px;
        margin-left: 48px;
        top: 1076px;
        margin-right: 0;
    }
}


@media only screen and (max-width: 768px){
    .lead__caption {
        width: auto;
        height: 14px;
        margin-left: 24px;
        top: 976px;
        margin-right: 0;
        }
}

@media only screen and (max-width: 320px){
    .lead__caption {
        width: auto;
        height: 14px;
        padding-left: 16px;
        top: 498px;
        margin-right: 0;
        }
}