.cover__title {
    position: absolute;
    width: 656px;
    margin: 0 264px 120px 264px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    /* or 104% */
    font-size: 72px;
    text-align: center;
    color: #ffffff;
}