.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #ffffff;
    margin: 0 0 25px 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}


@media only screen and (max-width:768px){

    .place__paragraph {
        width: 352px;
        margin-left: 0px;
        margin-right: 0px;
        
    }
    
}


@media only screen and (max-width:320px){

    .place__paragraph {
        width: 288px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 16px;
        line-height: 163%;
        
    }
    
}