.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 80px;
    font-family: "Inter", Arial, sans-serif;
}

@media only screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        padding-bottom: 81px;
    }
}

@media only screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        padding-bottom: 73px;
    }
}

@media only screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        grid-template-columns: 1fr;
        padding-bottom: 48px;
    }
}

