.footer {
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    max-width: 1184px;
    margin: 0;
    padding:0;
    list-style: none;
    justify-content:space-between;
}

@media only screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}

@media only screen and (max-width: 321px) {
    .footer {
        max-width: 175px;
        margin: 0 auto 0 16px;
    }
}

