.footer {
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1184px;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
}

@media only screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}


