@import url(./__inner/route__inner.css);
@import url(./overlay/route__overlay.css);


.route {
  display: flex;
  width:100%;
  font-family: Inter;
  background-image: url('../../images/background.jpg');
  min-height: 740px;
  /*background-repeat: no-repeat;
  background-position: center;*/
  background-size: cover;
  position: relative;

}

.route:hover .route__overlay {
  opacity: 0.8%;
}

/*
.route__inner{
  margin: auto;
  text-align: center;
  color: white;

}*/

/*
.route__overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3%;
  transition: opacity 300ms;
}*/
